.modal-content {
  .modal-footer {
    justify-content: space-between !important;
  }
}

/* 
  width: '100%',
  borderWidth: 0.6,
  borderColor: '#A6BECF',
  borderRadius: 8,
  marginBottom: 10,
  padding: 8,
*/