@import "../../mixin.scss";

.modal-content {
  .content {
    padding: 0;

    .col {
      padding: 0;
      margin-top: 8px;
      border: 1px solid #ced4da;
      border-radius: 12px;

      .row:first-of-type {
        margin: 0;
    
        .profile.col-3 {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 10px;
    
          img {
            width: 80px;
            height: 80px;
          }
        }
        
        .col-9 {
          .message-header.row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 20px 0 15px 0;
      
            h3:first-of-type {
              font-size: 24px;
              color: $title;
              font-weight: 400;
            }
      
            h3:last-of-type {
              font-size: 16px;
              color: $title;
              font-weight: 400;
            }
          }
        }
      }

      .message-body.row {
        margin: 0;
        border-top: 1px dotted #f2f3f5;
        padding: 8px !important;

        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-word;
  
        h3 {
          font-size: 24px;
          color: $blue_dark;
          font-weight: 400;
          text-align: justify;
        }
      }
    }
  }

  .modal-footer {
    justify-content: space-between !important;
  }
}

@media(max-width: 460px) {
  .modal-content .content .col .row:first-of-type .profile.col-3 {
    justify-content: center;
  }

  .modal-content .content .col .row:first-of-type .profile.col-3 img {
    width: 50px;
    height: 50px;
  }

  .modal-content .content .col .row:first-of-type .col-9 .message-header.row h3:first-of-type {
    font-size: 20px;
  }

  .modal-content .content .col .row:first-of-type .col-9 .message-header.row h3:last-of-type {
    font-size: 12px;
  }

  .modal-content .content .col .message-body.row h3 {
    font-size: 20px;
  }
}

@media(max-width: 340px) {
  .modal-content .content .col .row:first-of-type .col-9 .message-header.row h3:first-of-type {
    font-size: 18px;
  }

  .modal-content .content .col .row:first-of-type .col-9 .message-header.row h3:last-of-type {
    font-size: 10px;
  }

  .modal-content .content .col .message-body.row h3 {
    font-size: 18px;
  }
}

@media(max-width: 300px) {
  .modal-content .content .col .row:first-of-type .col-9 .message-header.row {
    padding: 15px 0 10px 0;
  }

  .modal-content .content .col .row:first-of-type .col-9 .message-header.row h3:first-of-type {
    font-size: 16px;
  }

  .modal-content .content .col .row:first-of-type .col-9 .message-header.row h3:last-of-type {
    font-size: 9px;
  }

  .modal-content .content .col .message-body.row h3 {
    font-size: 16px;
  }
}