.main {
  height: 100vh;

  overflow: hidden;
  overflow-y: scroll; 
  scroll-snap-type: y mandatory;

  &::-webkit-scrollbar {
		width: 0.25rem;
	}

  &::-webkit-scrollbar-thumb {
		background: var(--title-color);
	}
}