@import "../../mixin.scss";

#message {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    width: 100%;
    height: 15%;

    main {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 4vh 11.5vw 0 11.5vw;
    
      h1 {
        text-align: left;
        font-size: 40px;
        color: $title;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;

    .content-left {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      z-index: 2;

      .content-img {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 0 0 11.5vw;

        img {
          width: 40rem;
          height: 25rem;
          border-radius: 4px;
          object-fit: cover;
        }
      }
      
      .form-group {
        width: 100% !important;
        height: 100% !important;
        padding: 0 0 0 11.5vw !important;
        
        .form-control {
          width: 90%;
          resize: none;
          margin-bottom: 8px;
          box-shadow: none;

          &:focus {
            border-color: $title;
          }
        }

        .form-label {
          font-size: 24px !important;
          color: $title !important;
          font-weight: 600 !important;
          margin-top: 24px !important;
          line-height: 38px !important;
          text-align: justify !important;
          padding-right: 10% !important;
        }

        .btn-justify {
          display: flex !important;
          justify-content: space-between !important;
          padding-right: 10% !important;

          .btn-outline-danger {
            color: $gray;
            border-color: $gray;
            box-shadow: none !important;

            &:hover, &:active {
              color: $white;
              background-color: $gray;
              border-color: $gray;
            }
          }

          .btn-outline-primary {
            color: $title;
            border-color: $title;
            box-shadow: none !important;

            &:hover, &:active {
              color: $white;
              background-color: $title;
              border-color: $title;
            }
          }
        }
      }
    }
    
    .content-right {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 3rem 15rem 0;
      z-index: 1;

      img {
        width: 700px;
        height: 700px;
        opacity: 0.6;
      }
    }

    .no-content {
      width: 100%;
      display: flex;
      justify-content: center;

      #no-img {
        width: 600px;
        height: 600px;
        object-fit: contain;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
  }
}

@media(max-width: 900px) {
  #message .content {
    align-items: center;
    text-align: center;
  }

  #message .content header {
    margin: 48px auto 0;
  }

  #message .content main {
    align-items: center;
  }

  #message .content main h1 {
    font-size: 42px;
  }
}