$green : #4CD964;

$green_light: #26DEA8;

$red: #EF4040;

$purple: #6F5A9A;

$purple_light: #8E2DE2;

$purple_dark: #3E3F68;

$blue: #5157BB;

$blue_dark: #243336A9;

$body: #F8F8F9;

$purple_button: #6C63FF;

$purple_button_hover: #6B63FFC2;

$title: #203354;

$description: #6C6C80;

$white: #FFF;

$gray: #777;

$border_gray: #F2F3F4;